@charset "utf-8";
.container{width: 900px;  margin: 0 auto;}
    .header{
         background-color: lightblue; width:900px; height:250px; position: relative;
        background: url(../../10/images/bg.png) no-repeat;background-size: auto left top;}
    
        .header h1{font-size:40px; position: absolute; top:120px; right:15px;
        color: yellowgreen; font-weight: 700; text-shadow: 1px 1px 2px black;}
        .header h2{font-size:25px; position: absolute; bottom:30px; right:10px;
        color:yellow; font-weight: 600; text-shadow: 1px 1px 1px greenyellow;}
        
        nav{background-color: #333; margin-top:2px;}
        nav ul{height: 50px; padding:10px;}
        nav ul li{display:inline-block;} 
        nav ul li a{font-size: 14px; color: #eee; display: block; width: 150px; padding: 10px 10px 13px 40px;}

        nav ul li a:hover{text-shadow: 0px 2px 2px #000;} 
        nav ul li a:focus{border:1px solid white}

    section h2{font-size: 25px; font-weight: 700; padding: 10px;}

        article{float:left; width: 580px; font-size: 16px;}
        article h3{font-size:20px}
        .banner img{width: 580px;}
    aside{float:right; width:200px; height: 500px; padding: 20px 30px 0 10px;
    background-color: beige;}
    .container::after{content: "dd"; display: block; clear:both;}

    footer{padding: 10px 0;
        background-color: #333;
        color: #fff;
        text-align: center;
        clear:both;}

