@charset "utf-8";
#container{
    background-color: coral;
    position:relative;
    display: flex;
    justify-content: space-between;
}
.box{width: 50px; height:50px; background-color: pink;
border:1px solid black;
}

.box:nth-child(5){
    position:relative;
    top:50px;
    animation: move 1s ;

}
@keyframes move{
    0%{transform:translate(250px,0)};
    25%{transform:translate(-500px,0)};
    50%{transform:skew(30deg);}
    75%{transform:skew(120deg);}
    100%{transform: translate(-1000px,0);}
}

