@charset "utf-8";@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@300; 400; 500&display=swap"); /* notosans */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"); /* roboto */

* { margin: 0; padding: 0; } 

a { text-decoration: none; color: #222; } 
a:hover { color: #000; } 

html { font-size: 62.5%; overflow-x: hidden; overflow-y: scroll; } 

body,
input,
textarea,
select,
button,
table { font-family: "Noto Sans KR", sans-serif, "Roboto", AppleSDGothicNeo, sans-serif; color: #222; line-height: 1.75; /* 웹 접근성 통과치 1.75 */}

/* 폰트스타일초기화 */
em,
address { font-style: normal; } 

/* 불릿기호 초기화 */
dl,
ul,
ol,
li,
menu { list-style: none; } 
/* 제목태그 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 { font-size: 1.3rem; /* =13픽셀 */
 color: #222; font-weight: normal; } 

/* 테두리 초기화 */
img,
fieldset { border: 0 none; } 

/* 버튼 초기화 */
button { border: 0; } 
/* float */
.fl { float: left; } 
.fr { float: right; } 
/* clearfix */
.cb { clear: both; } 
.cf::after { content: " "; display: block; clear: both; } 
/* position */
.pr{position:relative;}
.pa{position:absolute;}
/* font-weight */
.bold{font-weight: bold;}
.lighter{font-weight: lighter;}
/* flex */
.df{display:flex;}
/* margin, padding */
.mb10 { margin-bottom: 10px !important; } 
.mb20 { margin-bottom: 20px !important; } 
.mb30 { margin-bottom: 30px !important; } 
.mb40 { margin-bottom: 40px !important; } 
.mb50 { margin-bottom: 50px !important; } 
.mb100 { margin-bottom: 100px !important; } 
