html {
    font-size: 18px;
  }
  
  body {
    margin: 20px;
    background-color: #fff4c1;
  }
  
  div {
    color: #333;
    padding: 20px;
  }
  
  a {
    display: inline-block;
    margin: 10px 0;
  }